{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam explicabo iusto atque incidunt, doloremque ex
            architecto eaque a, cum nihil officiis, mollitia impedit magni corporis minima ut optio aspernatur? Atque!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/paisaje.jpg" class="img-thumbnail" alt="">
    </div>
</div>
{{> footer }}